<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edição de perfil</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleEmpresa.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://kit.fontawesome.com/01b3655c48.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">
    <script src="../script/form-perfilA.js" defer></script>
</head>

<body >
    <div id="app">
        <form action="" v-on:submit.prevent="checkform">
            <div class="nav-wrapper">
                <div class="grad-bar"></div>
                <nav class="navbar">
                 <a href="feed.html"><img src="../../assets/SocialNet_logo.svg.png" alt="Company Logo"></a> 
                  <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </div>
                  <ul>
                   <div class="home">
                    <li class="nav-item"><a href="feed.html">Home</a></li>
                   </div>
                   <div class="perfil">
                    <li class="nav-item"><a href="perfilEstudante.html">Perfil</a></li>
                   </div>
                   <div class="search-box">
                    <input class="search-txt" type="text" name="" placeholder="Procurar">
                    <a class="search-btn" href="#">
                      <i class="fas fa-search"></i>        
                      </a>
                    </div>
                    <div class="sobre">
                     <li class="nav-item"><a href="sobre.html">Sobre</a></li>
                    </div>
                    <div class="logout">
                    <li class="nav-item"><a href="index.html">Logout</a></li>
                   </div>
                   
                  </ul>
                  
                </nav>
                </div>
            <div class="container rounded bg-white mt-5 mb-5">
                <div class="row">
                    <div class="col-md-3 border-right">
                        <div class="imageContainer">
                            <div class="imageContainer">
                                <img src="../../assets/camera.png" alt="Selecione uma imagem" id="imgPhoto">
                            </div>
                        </div>
                        <input class="invisibleInput" type="file" id="fImage" name="fImage" accept="image/*">
                        <div class="row mt-2">
                            <div>
                                <label class="profileLabel"></label><input type="nome"  class="form-control"
                                    placeholder="Nome da Empresa" v-model="nome">
                            </div>

                            <div><label class="profileLabel"></label><input type="email"
                                    class="form-control" placeholder="Email para curriculum" v-model="email">
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center experience">
                            <span>
                                <h3>Vagas</h3>
                            </span>
                        </div><br>
                        <fieldset id="fs">
                            <section>

                                <form action="#" method="post">
                                    <div> <input style="margin-bottom: 30px;" type="text" id="newitem"
                                            placeholder="quant / setor - atuação" />
                                        <input type="submit" value="Add" />

                                    </div>
                                </form>
                                <ul id="todolist"></ul>
                            </section>
                        </fieldset>

                        <form id="myForm">



                        </form>
                    </div>

                    <div class="col-md-5 border-right">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Configurações do Perfil</h4>
                            </div>


                            <div class="row mt-3">
                                <div class="col-md-12" required><label class="labels">Número de
                                        celular</label><input type="tel" name="celular" id="celular"
                                        placeholder="Digite um celular de contato" class="form-control" maxlength="15">
                                </div>
                                <div class="col-md-12"><label class="labels">Número de
                                        telefone</label><input type="text" name="tel" id="phone"
                                        placeholder="Digite um fixo de contato" class="form-control" onkeypress="mask(this, mphone);
                                                            " onblur="mask(this, mphone);" />
                                </div>
                                <div class="col-md-12"><label class="labels">Linkedin</label><input type="text"
                                        name="linkedin" class="form-control" placeholder="Perfil da empresa" value="">
                                </div>
                                <div class="col-md-12"><label class="labels">Sites</label><input type="text"
                                        name="sites" class="form-control" placeholder="Site da empresa" value="">
                                </div>

                                <div class="col-md-12"><label class="labels">Data de
                                        fundação</label><input name="data" class="form-control" type="date"
                                        placeholder="Ex.: dd/mm/aaaa" data-mask="00/00/0000" maxlength="8"
                                        autocomplete="off">
                                </div>




                            </div>
                            <div class="row mt-3">


                            </div>
                            <div class="col-md-12"><label class="labelInfo">Sobre</label>
                                <textarea type="text" name="sobre" class="form-control"
                                    placeholder="Conte um pouco sobre a cultura de sua empresa" value=""
                                    maxlength="1000" style="height: 120px;"></textarea>
                            </div>
                           <div id = "salvaPerfilE" class="mt-5 text-center"><button class="btn btn-primary profile-button"
                                type="button">Salvar Perfil</button></div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center experience">
                                <span>
                                    <h2>Sedes da empresa</h2>
                                </span>

                            </div><br>

                            <button type="button" value="Add a field" class="add" id="add"
                                onclick="addTextInput()">Add</button>
                            <form id="myForm">
                                <fieldset id="buildyourform" placeholder="Instituição - data de conclusão">
                                </fieldset>

                        </div>

                    </div>

                </div>

            </div>
        </form>
        
    </div>

    <script src="../script/scriptPerfil.js"></script>

</body>

</html>