
</head>
<script type="txt/js" src="../script/sobre.js"></script>

<link rel="stylesheet" href="../css/sobre.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Press+Start+2P&family=Train+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Fredoka+One&family=Nabla&family=Press+Start+2P&family=Train+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbT1WI1j8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/01b3655c48.js" crossorigin="anonymous"></script>
  <script type="txt/js" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">

<title>Sobre</title>
<head>
  <body>

    <div class="nav-wrapper">
      <div class="grad-bar">
              <div class="nav-wrapper">
                      <div class="grad-bar"></div>
                      <nav class="navbar">
                        <a href="feed.html"><img src="../../assets/SocialNet_logo.svg.png" alt="Company Logo" class="logo" title="Home"></a>
                        <div class="menu-toggle" id="mobile-menu">
                          <span class="bar"></span>
                          <span class="bar"></span>
                          <span class="bar"></span>
                        </div>
                        <ul class="nav no-search">
                          <div class="home">
                      <li class="nav-item"><a href="feed.html">Home</a></li>
                          </div>
                      <div class="perfil">
                          <li class="nav-item"><a href="perfilEstudante.html">Perfil</a></li>
                      </div>
                      <div class="search-box">
                        <input class="search-txt" type="text" name="" placeholder="Procurar">
                        <a class="search-btn" href="#">
                          <i class="fas fa-search"></i>
                      
                      
                          </a>
                        </div>
                      <div class="sobre">
                              <li class="nav-item"><a href="#">Sobre</a></li>
                             </div>
                      <div class="logout">
                      <li class="nav-item"><a href="index.html">Logout</a></li>
              </div>
      </div>
      <h1 class="title">SOBRE NOSSA EQUIPE
      </h1>
      <h3 class="text">Estudantes do curso de ADS e entusiastas da área de<br> desenvolvimento. Projeto criado como trabalho da <br>matéria "Laboratório de engenharia de software" da FATEC<br> TAQUARITINGA. Visando uma rede social que une o cenário<br> profissional com o estudantil, auxiliando alunos a<br> ingressar no seu primeiro emprego, e empresas a conseguir<br> contato mais fácil com esses estudantes. Para mais<br> informações favor entrar contato:</h3>
      <img src="../../assets/zap.png" alt="contato zap" class="zap">
      <h5 class="numZap"><br>(16) 99792-9960</h5>
      <h5 class="numZap2"><br>(16) 99100-7359</h5>

      <h5 class="endEmail"><br>luisadsfatec@Hotmail.com</h5>
   <img src="../../assets/fatec.png" alt="fatec" class="fatec">
          <img src="../../assets/email.png" alt="email" class="email">
    <div>
      <p class="luis">Desenvolvedor Front-End <br>utilizando vueJS com <br>base em UX/UI.<br>------------------------------</p>
      <div class="photo"><a href="https://github.com/LuisLessi" target="_blank"><img id="profile" src="../../assets/Luis.jpg" title="Luís Felipe"></a></div>
    </div>
    <div>
    <p class="grupo">Desenvolvedor Back-End<br>responsável pela arquitetura<br> e padrões de projeto.<br>------------------------------</p>
      <div class="photo2"><a href="https://github.com/Ezequiel-Lima" target="_blank"><img id="profile" src="../../assets/quiel.jpg" title="Ezequiel"></a></div>
    </div>
    <div>
    <p class="grupo">Desenvolvedor Front-End <br>utilizando vueJS com <br>base em UX/UI.<br>------------------------------</p>
      <div class="photo3"><a href="#footer"><img id="profile" src="../../assets/Eraldo.jpg" title="Eraldo"></a></div>
    </div>
    <div>
    <p class="grupo">Desenvolvedor Front-End <br>utilizando vueJS com <br>base em UX/UI.<br>------------------------------</p>
      <div class="photo3"><a href="#footer"><img id="profile" src="../../assets/Gabriel.jpg" title="Gabriel"></a></div>
    </div>
    <div>
    <p class="grupo">Desenvolvedor Front-End <br>utilizando vueJS com <br>base em UX/UI.<br>------------------------------</p>
      <div class="photo2"><a href="https://www.linkedin.com/in/ruan-corsi-129246238" target="_blank"><img id="profile" src="../../assets/ruan.jpg" title="Ruan"></a></div>
    </div>
    </div>
  
</div>
  </body>

